<phpunit
        bootstrap="./tests/phpunit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
	<testsuites>
        <testsuite name="wpml-mu-domain-mapping-tests">
            <directory suffix=".php">./tests/phpunit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
							<directory>./build</directory>
							<directory>./locale</directory>
							<directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
